{% extends "base.html" %}




{% block content %}
    
<br><br><br><br><br><br>

<!-- (some qr code)-->
<header>
    <h1 class="nine">■■■  ■   ■■■ ■■■■■■■■■■■■■■■■■■■  ■■■■■ ■■■■■■■■■■■■■       change this to a proper one    ■■■■■■■■■■ ■■■■ ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ■■■■■</h1></header>
<br><br><br><br><br><br>

who's the smily chap.<br><br>

<form method="POST">
    <input type="text" name="answer" placeholder="enter your answer." required>
    <button type="submit">submit.</button>
</form>



{% endblock %}
